figure:nth-child(1){
	background-color: white;
}

figure:nth-child(1) p{
	text-align: center;
}

figure:nth-child(1) x-modal{
	width:  96%;
	background-color: white;
	border: solid 2px #ddd;
	border-radius: 3px;
	position: absolute;
	padding: 4px;
}
